@model MirGames.Domain.Topics.ViewModels.CommentViewModel
<div class="comment" comment-id="@Model.Id">
    <header id="@("c" + Model.Id)">
        <a href="@Url.Action("Profile", "Users", new { userId = Model.Author.Id })" class="avatar-link">
            <img src="@Model.Author.AvatarUrl" class="avatar" />
        </a>
        <a href="@Url.Action("Profile", "Users", new { userId = Model.Author.Id })" class="user-login">@Model.Author.Login</a>
        <span class="comment-date">(@Html.DisplayFor(c => c.CreationDate))</span>
        <div class="message-bar">
            @if (Model.CanBeEdited)
            {
                <a class="edit-post" href="javascript:void(0);" dialog="@Url.Action("EditCommentDialog", "Topics")" title="Редактировать"
                    dialog-close="reloadComment(@Model.Id)"
                    resolve="{ 'comment-id': @Model.Id }" dialog-controller="MirGames.Topics.EditCommentDialogController"><i class="fa fa-pencil-square-o"></i></a>
            }
            @if (Model.CanBeDeleted)
            {
                <a class="delete-post" href="javascript:void(0);" title="Удалить" dialog="@Url.Action("DeleteCommentDialog", "Topics")"
                   dialog-close="hideComment(@Model.Id)" resolve="{ 'comment-id': @Model.Id }"
                   dialog-controller="MirGames.Topics.DeleteCommentDialogController"><i class="fa fa-times"></i></a>
            }
            @if (Model.UpdatedDate > Model.CreationDate)
            {
                <div class="edited">Отредактировано: @Html.DisplayFor(m => m.UpdatedDate)</div>
            }
        </div>
    </header>
    <div class="text">
        @Html.Raw(Model.Text)
    </div>
</div>
