@using MirGames.Infrastructure.Queries
@using MirGames.Models
@model MirGames.Domain.Forum.ViewModels.ForumTopicsListItemViewModel
<article @Html.Css("message").Add("unread", !Model.IsRead).Add("read", Model.IsRead)>
    <div class="message-content">
        <div class="topic-title-block">
            @if (@Model.UnreadPostsCount.HasValue)
            {
                <a
                    href="@(Url.ActionCached(MVC.Forum.Forum.Topic(Model.Forum.Alias, Model.TopicId, PaginationSettings.GetItemPage(Model.PostsCount - Model.UnreadPostsCount.Value, 20) + 1)) + "#first-unread")"
                   class="topic-title">@Model.Title <span>(+@Model.UnreadPostsCount.GetValueOrDefault())</span></a>
            }
            else
            {
                <a href="@Url.ActionCached(MVC.Forum.Forum.Topic(Model.Forum.Alias, Model.TopicId, 1))" class="topic-title">@Model.Title</a>
            }
            <div class="topic-pagination">
                @Html.Partial("_Pagination", (PaginationViewModel)ViewBag.TopicsPagination[Model.TopicId])
            </div>
            <div class="short-description text">@Model.ShortDescription</div>
            <footer>
                <div class="topic-info">
                    <span class="author">Автор @Author.UserLink(Model.Author, "topic-author")</span>,
                    <span class="created-date"><span class="topic-created-date relative" datetime="@Model.CreatedDate.ToString("O")">@Html.RelativeDate(Model.CreatedDate)</span></span>
                </div>
                <div class="tags">
                    @foreach (var tag in Model.Tags)
                    {
                        <a href="@Url.ActionCached(MVC.Forum.Forum.Topics(null, tag.Trim()))">@tag.Trim()</a>
                    }
                </div>
            </footer>
        </div>
        <div @Html.Css("replies-count")>
            <div><span>@(Model.PostsCount - 1)</span> @((Model.PostsCount - 1).Pluralize("ответ", "ответа", "ответов"))</div>
            <div><span>@Model.Visits</span> @Model.Visits.Pluralize("просмотр", "просмотра", "просмотров")</div>
        </div>
        <div class="last-post-info">
            @Author.UserAvatarLink(Model.LastPostAuthor, "avatar-small", "user-login", true)
            <span class="topic-updated-date relative" datetime="@Model.UpdatedDate.ToString("O")">@Html.RelativeDate(Model.UpdatedDate)</span>
        </div>
    </div>
</article>