@using MirGames.Domain.Security
@model IEnumerable<MirGames.Domain.Forum.ViewModels.ForumTopicsListItemViewModel>
@{ Layout = "~/Views/Shared/_Nav.cshtml"; }

@section SectionTitle { Форум }

@section SectionMenu
{
    @if (User.Can("Create", "ForumTopic"))
    {
        <a href="@Url.Action(MVC.Forum.Forum.New())" class="add-forum-topic"><i class="fa fa-plus"></i>Новое обсуждение</a>
    }

    <a href="@Url.Action(MVC.Forum.Forum.Index())" @Html.Css("selected", string.IsNullOrEmpty((string)ViewBag.Tag) && !(bool)ViewBag.OnlyUnread)>Все обсуждения</a>
    <a href="@Url.Action(MVC.Forum.Forum.Index(onlyUnread: true))" @Html.Css("selected", string.IsNullOrEmpty((string)ViewBag.Tag) && (bool)ViewBag.OnlyUnread)>Непрочитанные</a>

    @if (ViewBag.ForumTopicsUnread > 0)
    {
        <a href="javascript:void(0);" ng-click="markAllAsRead()">Отметить всё, как прочитанное</a>
    }

    @if (!ViewBag.OnlyUnread)
    {
        <div class="subsection">
            @foreach (string tag in ViewBag.Tags)
            {
                @Html.ActionLink(tag, "Index", "Forum", new
                {
                    tag
                }, new
                {
                    @class = string.Equals(tag, ViewBag.Tag, StringComparison.InvariantCultureIgnoreCase) ? "selected" : string.Empty
                })
            }
        </div>
    }
}