@model MirGames.Domain.Forum.ViewModels.ForumPostsListItemViewModel

<article post-id="@Model.PostId" id="@(Model.FirstUnread ? "first-unread": null )" @Html.Css("message").Add("unread", !Model.IsRead).Add("first-post", Model.IsFirstPost)>
    @if (!Model.IsFirstPost)
    {
        <a class="message-index" href="#@Model.Index" id="@Model.Index">#@Model.Index</a>
    }
    <div class="author-block">
        <div class="author-name">
            @if (Model.Author.Id > 0)
            {
                <a href="javascript:void(0)" ng-click="addMention('@Model.Author.Login')" class="topic-author" title="Вставить логин в форму ответа">@(Model.Author.Login)</a>
            }
            else
            {
                <span class="topic-author">@(Model.Author.Login)</span>
            }
        </div>
        <div class="avatar">
            @Author.UserAvatarLink(Model.Author, "author-avatar")
        </div>
        <div class="author-title">
            @Model.Author.Title
        </div>
    </div>
    <div class="post-block">
        <div class="post-header">
            <div class="created-date">
                <i class="fa fa-clock-o"></i> <span class="topic-created-date relative" datetime="@Model.CreatedDate.ToString("O")">@Html.RelativeDate(Model.CreatedDate)</span>
            </div>
            <div class="message-bar">
                @if (Model.CanBeEdited)
                {
                    <a class="edit-post" href="javascript:void(0);" dialog="@Url.Action(MVC.Forum.Forum.EditPostDialog())" title="Редактировать"
                       dialog-close="reloadPost(@Model.PostId, @(Model.IsFirstPost ? "true" : "false"))"
                       resolve="{ 'post-id': @Model.PostId }" dialog-controller="MirGames.Forum.EditPostDialogController"><i class="fa fa-pencil-square-o"></i></a>
                }
                @if (Model.CanBeDeleted)
                {
                    <a class="delete-post" href="javascript:void(0);" title="Удалить" dialog="@Url.Action(MVC.Forum.Forum.DeletePostDialog())"
                       dialog-close="hidePost(@Model.PostId)" resolve="{ 'post-id': @Model.PostId }"
                       dialog-controller="MirGames.Forum.DeletePostDialogController"><i class="fa fa-times"></i></a>
                }
            </div>
            <div @Html.Css("votes-block").Add("voted-down", Model.UserVote < 0).Add("voted-up", Model.UserVote > 0) ng-controller="MirGames.Forum.PostRatingController" ng-class="{ 'voted-down': votedDown, 'voted-up': votedUp }" data-post-id="@Model.PostId">
                @if (Model.CanBeVoted)
                {
                    <i class="fa fa-thumbs-down vote-down" ng-click="votedDown || voteDown()"></i>
                }
                <span @Html.Css("vote-rating").Add("positive", Model.VotesRating > 0).Add("negative", Model.VotesRating < 0)
                      ng-class="{ 'positive': voteRating > 0, 'negative': voteRating < 0 }">@Model.VotesRating</span>
                @if (Model.CanBeVoted)
                {
                    <i class="fa fa-thumbs-up vote-up" ng-click="votedUp || voteUp()"></i>
                }
            </div>
        </div>
        <div class="text">
            @Html.Raw(Model.Text)
        </div>
        @if (Model.UpdatedDate > Model.CreatedDate)
        {
            <div class="edited">Отредактировано: @Html.DisplayFor(m => m.UpdatedDate)</div>
        }
    </div>
    @if (Model.IsFirstPost)
    {
        @Html.Partial("_SocialButtons")
    }
</article>
