@using MirGames.Domain.Security
@model IEnumerable<MirGames.Domain.Forum.ViewModels.ForumViewModel>

@{
    ViewBag.Title = "Форум";
    PageScriptController = "MirGames.Forum.ForumsPage";
    AddPageCssClass("forums-page");
}
    
@section Nav { @Html.Partial("_ForumTopicsMenu") }

<article class="message message-header">
    <div class="message-content">
        <div class="forum-title-block">
            Форум
        </div>
        <div class="topics-count">
            Тем
        </div>
        <div class="replies-count">
            Ответов
        </div>
        <div class="last-topic-info">
            Последнее сообщение
        </div>
    </div>
</article>

@foreach (var forum in Model)
{
    <article @Html.Css("message")>
        <div class="message-content">
            <div class="forum-title-block">
                <a href="@Url.Action(MVC.Forum.Forum.Topics(forum.Alias))" class="topic-title">@forum.Title</a>
                <footer>
                    @forum.Description
                </footer>
            </div>
            <div @Html.Css("topics-count")>
                <span>@(forum.TopicsCount)</span>
            </div>
            <div @Html.Css("replies-count")>
                <span>@(forum.PostsCount)</span>
            </div>
            <div class="last-topic-info">
                @Author.UserAvatarLink(forum.LastAuthor, "avatar-tiny", "user-login", true)
                <div class ="last-topic-title">
                    <a href="@Url.Action(MVC.Forum.Forum.Topic(forum.Alias, forum.LastTopicId.GetValueOrDefault()))">@forum.LastTopicTitle</a>
                </div>
                <span class="topic-updated-date">@Html.RelativeDate(forum.LastPostDate.GetValueOrDefault())</span>
            </div>
        </div>
    </article>
}