@using MirGames.Domain.Security
@model IEnumerable<MirGames.Domain.Forum.ViewModels.ForumViewModel>

@{
    ViewBag.Title = "Форум";
    PageScriptController = "MirGames.Forum.ForumsPage";
    AddPageCssClass("forums-page");
    var unreadForums = (HashSet<int>)this.ViewBag.UnreadForums;
}
    
<div class="page-header">
    <div class="header">
        <h3>Форумы</h3>
    </div>
    <div class="buttons">
             <a href="@Url.ActionCached(MVC.Forum.Forum.Topics())"><i class="fa fa-comments-o"></i>Все обсуждения</a>
    </div>
</div>

<article class="message message-header">
    <div class="message-content">
        <div class="forum-title-block">
            Форум
        </div>
        <div class="replies-count">&nbsp;</div>
        <div class="last-topic-info">
            Последнее сообщение
        </div>
    </div>
</article>

@foreach (var forum in Model)
{
    <article @Html.Css("message").Add("unread", unreadForums.Contains(forum.ForumId))>
        <div class="message-content">
            <div class="forum-title-block">
                <a href="@Url.ActionCached(MVC.Forum.Forum.Topics(forum.Alias))" class="topic-title">@forum.Title</a>
                <footer>
                    @forum.Description
                </footer>
            </div>
            <div @Html.Css("replies-count")>
                <div><span>@forum.TopicsCount</span> @forum.TopicsCount.Pluralize("тема", "темы", "тем")</div>
                <div><span>@forum.PostsCount</span> @forum.PostsCount.Pluralize("ответ", "ответа", "ответов")</div>
            </div>
            <div class="last-topic-info">
                @Author.UserAvatarLink(forum.LastAuthor, "avatar-tiny", "user-login", true)
                <div class ="last-topic-title">
                    <a href="@Url.ActionCached(MVC.Forum.Forum.Topic(forum.Alias, forum.LastTopicId.GetValueOrDefault()))">@forum.LastTopicTitle</a>
                </div>
                <span class="topic-updated-date relative" datetime="@forum.LastPostDate.GetValueOrDefault().ToString("O")">@Html.RelativeDate(forum.LastPostDate.GetValueOrDefault())</span>
            </div>
        </div>
    </article>
}