@using MirGames.Domain.Forum.ViewModels
@using MirGames.Models
@model ForumTopicViewModel

@{
    ViewBag.Title = Model.Title + " / Форум";
    PageScriptController = "MirGames.Forum.TopicPage";
    AddPageCssClass("forum-topic-page");
    var pagination = (PaginationViewModel)ViewBag.Pagination;
    var startPost = Model.StartPost;
}

<div class="page-header">
    <div class="header">
        <h4><a href="@Url.Action(MVC.Forum.Forum.Index())">Форумы</a> / <a href="@Url.Action(MVC.Forum.Forum.Topics(Model.Forum.Alias))">@Model.Forum.Title</a></h4>
        <h3>@Model.Title</h3>
    </div>
    <div class="buttons"></div>
</div>

<article post-id="@startPost.PostId" id="@(startPost.FirstUnread ? "first-unread": null )" @Html.Css("message").Add("unread", !startPost.IsRead).Add("first-post")>
    <div class="post-block">
        <div class="text">
            @Html.Raw(startPost.Text)
        </div>
        @if (startPost.UpdatedDate > startPost.CreatedDate)
        {
            <div class="edited">Отредактировано: @Model.UpdatedDate.Format()</div>
        }
    </div>
</article>
<div class="topic-bar">
    <div class="created-date">
        @Html.DisplayFor(m => m.CreatedDate)
    </div>
    @Author.UserAvatarLink(startPost.Author, "avatar-tiny")
    <div class="author">
        @Author.UserLink(startPost.Author, "user-login")
    </div>
    <ul class="tags">
        @foreach (var tag in Model.Tags)
        {
            <li><a href="@Url.Action(MVC.Forum.Forum.Topics(Model.Forum.Alias, tag.Trim()))">@tag.Trim()</a></li>
        }
    </ul>
    <div class="message-bar">
        @if (startPost.CanBeEdited)
        {
            <a class="edit-topic" href="javascript:void(0);" dialog="@Url.Action(MVC.Forum.Forum.EditPostDialog())" title="Редактировать"
               dialog-close="reloadPost(@startPost.PostId, false)"
               resolve="{ 'post-id': @startPost.PostId }" dialog-controller="MirGames.Forum.EditPostDialogController"><i class="fa fa-pencil-square-o"></i></a>
        }
        @if (Model.CanBeDeleted)
        {
            <a href="javascript:void(0);" class="delete-topic" dialog="@Url.Action(MVC.Forum.Forum.DeleteTopicDialog())" title="Удалить топик"
               dialog-close="returnBack()" resolve="{ 'topic-id': @Model.TopicId }"
               dialog-controller="MirGames.Forum.DeleteTopicDialogController"><i class="fa fa-times"></i></a>
        }
    </div>
    @Html.Partial("_SocialButtons")
</div>

<div class="topic-posts" id="posts">
    @Html.Partial("_Pagination", pagination)
    @foreach (ForumPostsListItemViewModel post in ViewBag.Posts)
    {
        @Html.Partial("_ForumPostListItem", post)
    }
</div>

<div class="topic-posts">
    <article post-id="{{post.PostId}}" ng-class="{ message: 1, unread: !post.IsRead }" ng-repeat="post in posts" ng-cloak>
        <a class="message-index" href="#{{post.Index}}" id="{{post.Index}}">#{{post.Index}}</a>
        <div class="author-block">
            <div class="author-name">
                <a author-link="post.Author.Id" class="user-login" ng-show="post.Author.Id > 0">{{post.Author.Login}}</a>
                <span class="user-login" ng-show="post.Author.Id <= 0">{{post.Author.Login}}</span>
            </div>
            <div class="avatar">
                <a author-link="post.Author.Id" class="avatar-link" ng-show="post.Author.Id > 0">
                    <img ng-src="{{post.Author.AvatarUrl}}" class="avatar author-avatar" />
                </a>
                <span class="avatar-link" ng-show="post.Author.Id <= 0">
                    <img ng-src="{{post.Author.AvatarUrl}}" class="avatar author-avatar" />
                </span>
            </div>
            <div class="author-title" ng-bind="post.Author.Title">
            </div>
            <div class="message-bar">
                <a class="edit-post" ng-show="{{post.CanBeEdited}}" href="javascript:void(0);" dialog="@Url.Action(MVC.Forum.Forum.EditPostDialog())"
                   title="Редактировать"
                   dialog-close="$parent.reloadPost(post.PostId, post.IsFirstPost)"
                   resolve="{ 'post-id': {{post.PostId}} }" dialog-controller="MirGames.Forum.EditPostDialogController"><i class="fa fa-pencil-square-o"></i></a>

                <a ng-show="post.CanBeDeleted" class="delete-post" href="javascript:void(0);" title="Удалить" dialog="@Url.Action(MVC.Forum.Forum.DeletePostDialog())"
                   dialog-close="$parent.hidePost(post.PostId)" resolve="{ 'post-id': {{post.PostId}} }"
                   dialog-controller="MirGames.Forum.DeletePostDialogController"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="post-block">
            <div class="created-date">
                <i class="fa fa-clock-o"></i> <span class="topic-created-date relative">{{post.CreatedDate | date:'dd.MM.yy HH:mm'}}</span>
            </div>
            <div class="text" ng-bind-html="post.Text | unsafe"></div>
            <div class="edited" ng-show="post.UpdatedDate > post.CreatedDate">Отредактировано: {{post.UpdatedDate | date:'dd.MM.yy HH:mm'}}</div>
        </div>
    </article>
    @if (this.UserEntity == null || !Convert.ToBoolean(this.UserEntity.Settings["ForumContiniousPagination"]))
    {
        @Html.Partial("_Pagination", pagination)
    }
</div>

@if (Model.CanBeAnswered)
{
    <div class="answer-form">
        <h4 id="new-answer">Ответить</h4>
        <form class="new-answer-form" ng-submit="reply.post()" novalidate name="postAnswerForm">
            <texteditor text="reply.text" required="true" show-preview="true" post="reply.post()" attachments="reply.attachments" focus="reply.focus" entity-type="forumPost"></texteditor>
            <div class="buttons">
                <a href="javascript:void(0);" ng-click="reply.post()" ng-class="{ 'button-disabled': postAnswerForm.$invalid }" class="button">Отправить</a>
            </div>
        </form>
    </div>
}