@using MirGames.Domain.Security
@using MirGames.Models
@model IEnumerable<MirGames.Domain.Forum.ViewModels.ForumTopicsListItemViewModel>

@{
    ViewBag.Title = (ViewBag.Tag ?? "Все обсуждения") + " / Форум";
    PageScriptController = "MirGames.Forum.TopicsPage";
    AddPageCssClass("forum-topics-page");
}
    
<div class="page-header">
    <div class="header">
        <h4><a href="@Url.Action(MVC.Forum.Forum.Index())">Форумы</a></h4>
        <h3>@ViewBag.Forum.Title</h3>
    </div>
    <div class="buttons">
        @if (User.Can("Create", "ForumTopic"))
        {
            <a href="@Url.Action(MVC.Forum.Forum.New((string)ViewBag.Forum.Alias))"><i class="fa fa-pencil"></i>Новая тема</a>
        }
    </div>
</div>

@if (!Model.Any())
{
    <div class="topics-not-found">
        Обсуждения не найдены
    </div>
}
else
{
    <article class="message message-header">
        <div class="message-content">
            <div class="topic-title-block">
                Темы
            </div>
            <div class="replies-count">
                Ответов
            </div>
            <div class="visits-count">
                Просмотров
            </div>
            <div class="last-post-info">
                Последнее сообщение
            </div>
        </div>
    </article>
    @Html.Partial("_ForumTopicsList")
    @Html.Partial("_Pagination", (PaginationViewModel)ViewBag.Pagination)
}