@using System.Web.UI.WebControls
@using MirGames.Domain.Security
@using MirGames.Models
@model IEnumerable<MirGames.Domain.Forum.ViewModels.ForumTopicsListItemViewModel>

@{
    ViewBag.Title = (ViewBag.Tag ?? "Все обсуждения") + " / Форум";
    PageScriptController = "MirGames.Forum.TopicsPage";
    AddPageCssClass("forum-topics-page");
}
    
<div class="page-header">
    <div class="header">
        <h4><a href="@Url.ActionCached(MVC.Forum.Forum.Index())">Форумы</a></h4>
        <h3>@(ViewBag.Forum != null ? ViewBag.Forum.Title : "Все обсуждения")</h3>
    </div>
    @if (ViewBag.Forum != null)
    {
        <div class="buttons">
            @if (User.Can("Create", "ForumTopic"))
            {
                <a href="@Url.ActionCached(MVC.Forum.Forum.New((string)ViewBag.Forum.Alias))"><i class="fa fa-pencil"></i>Новая тема</a>
            }
            <form class="search-form" ng-submit="search()" novalidate name="searchForm">
                <input type="text" ng-model="searchString" value="@ViewBag.SearchString" placeholder="Поиск..." />
            </form>
        </div>
    }
</div>

@if (!Model.Any())
{
    <div class="topics-not-found">
        Обсуждения не найдены
    </div>
}
else
{
    <article class="message message-header">
        <div class="message-content">
            <div class="topic-title-block">
                Темы
            </div>
            <div class="replies-count">&nbsp;
            </div>
            <div class="last-post-info">
                Последнее сообщение
            </div>
        </div>
    </article>
    foreach (var topic in Model)
    {
        @Html.Partial("_ForumTopicListItem", topic)
    }
    @Html.Partial("_Pagination", (PaginationViewModel)ViewBag.Pagination)
}