@using MirGames.Infrastructure.Queries
@using MirGames.Models
@model MirGames.Controllers.DashboardController.DashboardViewModel
@{
    ViewBag.Title = "";
    // PageScriptController = "MirGames.Chat.ChatRoomPage";
    AddPageCssClass("dashboard-page");

    if (!User.IsInRole("User"))
    {
        AddPageCssClass("read-only");
    }
}

<section class="blog-subsection">
    <h3><a href="@Url.ActionCached(MVC.Topics.Topics.Index())">Блог</a></h3>
    <div class="topics-list">
    @foreach(var topic in Model.Topics)
    {
        @Html.Partial("../../Areas/Topics/Views/Topics/_TopicListItem", topic)
    }
    </div>
</section>
<section class="projects-subsection">
    <h3><a href="@Url.ActionCached(MVC.Projects.Projects.Index())">Проекты</a></h3>
    <div class="projects-list">
        @foreach (var project in Model.Projects)
        {
            <article @Html.Css("project")>
                <div class="project-info">
                    <div class="project-title">
                        <a class="project-title" href="@Url.ActionCached(MVC.Projects.Projects.Project(project.Alias))">@project.Title</a>
                        <span class="project-rating">@project.Votes&nbsp;<i class="fa fa-thumbs-up"></i></span>
                        <span class="followers-count">@project.FollowersCount&nbsp;<i class="fa fa-eye"></i></span>
                        <div class="short-description">@project.ShortDescription</div>
                        <div class="tags">
                            @foreach (var tag in project.Tags)
                            {
                                <span><a href="@Url.ActionCached(MVC.Projects.Projects.Index(tag.Trim()))">@tag.Trim()</a></span>
                            }
                        </div>
                    </div>
                    <a class="avatar-link" href="@Url.ActionCached(MVC.Projects.Projects.Project(project.Alias))"><img src="@project.LogoUrl" class="avatar avatar-small" /></a>
                </div>
            </article>
        }
    </div>
</section>
<section class="micro-topics-subsection">
    <h3><a href="@Url.ActionCached(MVC.Topics.Topics.MicroTopics())">Микроблоги</a></h3>
    <div class="topics-list">
        @foreach (var topic in Model.MicroTopics)
        {
            @Html.Partial("../../Areas/Topics/Views/Topics/_TopicListItem", topic)
        }
    </div>
</section>
<section class="forum-subsection">
    <h3><a href="@Url.ActionCached(MVC.Forum.Forum.Index())">Форум</a></h3>
    <div class="forum-topics-list">
        @foreach (var topic in Model.ForumTopics)
        {
            <article @Html.Css("message").Add("unread", !topic.IsRead).Add("read", topic.IsRead)>
                <div class="message-content">
                    <div class="topic-title-block">
                        @if (@topic.UnreadPostsCount.HasValue)
                        {
                            <a href="@(Url.ActionCached(MVC.Forum.Forum.Topic(topic.Forum.Alias, topic.TopicId, PaginationSettings.GetItemPage(topic.PostsCount - topic.UnreadPostsCount.Value, 20) + 1)) + "#first-unread")"
                               class="topic-title">@topic.Title<span>(+@topic.UnreadPostsCount.GetValueOrDefault())</span></a>
                        }
                        else
                        {
                            <a href="@Url.ActionCached(MVC.Forum.Forum.Topic(topic.Forum.Alias, topic.TopicId, 1))" class="topic-title">@topic.Title</a>
                        }
                        <div class="topic-pagination">
                            @Html.Partial("_Pagination", (PaginationViewModel)ViewBag.TopicsPagination[topic.TopicId])
                        </div>
                        <div class="short-description text">@topic.ShortDescription</div>
                        <footer>
                            <span class="created-date"><span class="topic-created-date relative" datetime="@topic.UpdatedDate.ToString("O")">@Html.RelativeDate(topic.UpdatedDate)</span></span>,
                            <span class="author">@Author.UserLink(topic.LastPostAuthor, "topic-author")</span>,
                            <span class="replies-count">@(topic.PostsCount - 1) <span>@((topic.PostsCount - 1).Pluralize("ответ", "ответа", "ответов"))</span></span>
                        </footer>
                    </div>
                </div>
            </article>
        }
    </div>
</section>