@using MirGames.Domain.Wip.ViewModels
@using MirGames.Infrastructure
@model WipProjectViewModel
@{
    Layout = "~/Views/Shared/_Nav.cshtml";
}

@section SectionTitle { @Model.Title }

@section SectionMenu
{
    <a href="@ViewBag.BackUrl" class="back-to-projects"><i class="fa fa-arrow-left"></i>Вернуться к проектам</a>
    <div class="subsection">
    <a href="@Url.Action("Project", new { projectAlias = Model.Alias })" @Html.Css("selected", (string)ViewBag.SubSection == "Project")><i class="fa fa-home"></i>Проект</a>
        
    @if (!Model.RepositoryUrl.IsNullOrEmpty())
    {
        <a href="@Url.Action("Code", "Projects", new { projectAlias = Model.Alias, path = "/" })" @Html.Css("selected", (string)ViewBag.SubSection == "Repository")><i class="fa fa-code"></i>Исходный код</a>
    }
        @*<a href="@Url.Action("Issues", new { projectAlias = Model.Alias })"><i class="fa fa-bug"></i>Баг-трекер</a>
            <a href="@Url.Action("Team", new { projectAlias = Model.Alias })"><i class="fa fa-users"></i>Команда</a>
            <a href="@Url.Action("Gallery", new { projectAlias = Model.Alias })"><i class="fa fa-picture-o"></i>Галерея</a>
            <a href="@Url.Action("Files", new { projectAlias = Model.Alias })"><i class="fa fa-download"></i>Файлы</a>*@
        <a class="disabled"><i class="fa fa-bug"></i>Баг-трекер</a>
        <a class="disabled"><i class="fa fa-users"></i>Команда</a>
        <a class="disabled"><i class="fa fa-picture-o"></i>Галерея</a>
        <a class="disabled"><i class="fa fa-download"></i>Файлы</a>
    </div>
}