@using MirGames.Domain.Wip.ViewModels
@model WipProjectViewModel

@{
    var workItem = (ProjectWorkItemViewModel)ViewBag.WorkItem;
    var comments = ((IEnumerable<ProjectWorkItemCommentViewModel>)ViewBag.Comments).ToList();
    ViewBag.Title = string.Format("#{0} {1} / {2}", workItem.InternalId, workItem.Title, Model.Title);
    AddPageCssClass("wip-workitem-page");
    PageScriptController = "MirGames.Wip.ProjectWorkItemPage";
}

@section Nav
{
    @Html.Partial("_ProjectMenu", Model)
}

@Html.Partial("_ProjectInfo", Model)

<section>
    <h3>
        <small>#@workItem.InternalId</small>
        @if (workItem.ItemType == WorkItemType.Bug)
        {
            <span class="bug-type" title="Баг"><i class="fa fa-bug"></i></span>
        }
        @if (workItem.ItemType == WorkItemType.Task)
        {
            <span class="task-type" title="Задача"><i class="fa fa-check-square-o"></i></span>
        }
        @if (workItem.ItemType == WorkItemType.Feature)
        {
            <span class="feature-type" title="Фича"><i class="fa fa-plus-square"></i></span>
        }
        @workItem.Title
    </h3>
    <div class="work-item">
        <article class="text">
            @Html.Markdown(workItem.Description)
        </article>
        <footer>
            @Author.UserAvatarLink(workItem.Author, "avatar-tiny", showLogin: true)
            <span class="creation-date">@workItem.CreatedDate.Format()</span>
            <ul class="tags">
                @foreach (var tag in workItem.Tags)
                {
                    <li>@Html.ActionLink(tag, "WorkItems", "Projects", new { projectAlias = Model.Alias, tag }, null)</li>
                }
            </ul>
        </footer>
    </div>
    <h4 ng-show ="@(comments.Any() ? "true" : "false") || comments.length">Комментарии</h4>
    <div class="comments-list">
        @foreach (var comment in comments)
        {
            @Html.Partial("_WorkItemComment", comment)
        }
        <div class="data-loading" ng-show="commentsLoading" ng-cloak></div>
        <div class="comment" comment-id="{{comment.CommentId}}" ng-repeat="comment in comments" ng-cloak>
            <header id="{{'c' + comment.CommentId}}">
                <a author-link="comment.Author.AuthorId" class="avatar-link">
                    <img ng-src="{{comment.Author.AvatarUrl}}" class="avatar" />
                </a>
                <a author-link="comment.Author.AuthorId" class="user-login">{{comment.Author.Login}}</a>
                <span class="comment-date">({{comment.Date | date:'dd.MM.yy HH:mm'}})</span>
                <div class="message-bar">
                    <a ng-show="comment.CanBeEdited" class="edit-post" href="javascript:void(0);" dialog="@Url.Action("EditCommentDialog", "Topics")" title="Редактировать"
                        dialog-close="$parent.reloadComment(comment.CommentId)"
                        resolve="{ 'comment-id': {{comment.CommentId}} }" dialog-controller="MirGames.Topics.EditCommentDialogController"><i class="fa fa-pencil-square-o"></i></a>
                    <a ng-show="comment.CanBeDeleted" class="delete-post" href="javascript:void(0);" title="Удалить" dialog="@Url.Action("DeleteCommentDialog", "Topics")"
                        dialog-close="hideComment(comment.CommentId)" resolve="{ 'comment-id': {{comment.CommentId}} }"
                        dialog-controller="MirGames.Topics.DeleteCommentDialogController"><i class="fa fa-times"></i></a>
                    <div ng-show="comment.UpdatedDate > comment.Date" class="edited">Отредактировано: {{comment.UpdatedDate | date:'dd.MM.yy HH:mm'}}</div>
                </div>
            </header>
            <div class="text" ng-bind-html="comment.Text | unsafe"></div>
        </div>
    </div>
    
    @if (workItem.CanBeCommented)
    {
        <h4 id="new-comment">Новый комментарий</h4>
        <div class="comment-form">
            <form class="new-comment-form" ng-submit="comment.post()" novalidate name="postCommentForm">
                <texteditor show-preview="true" focus="comment.focus" text="comment.text" post="comment.post()" attachments="comment.attachments" entity-type="project-work-item-comment"></texteditor>
                <div class="buttons">
                    <a href="javascript:void(0);" ng-click="comment.post()" ng-class="{ 'button-disabled': postCommentForm.$invalid }" class="button">Оставить комментарий</a>
                </div>
            </form>
        </div>
    }
</section>