@if (UserEntity != null)
{
    <div class="profile-section">
        <a href="@Url.Action(MVC.Users.Profile(UserEntity.Id))" @Html.Css("avatar-link").Add("selected", ViewBag.CurrentSection == "CurrentUser")><img src="@UserEntity.AvatarUrl" class="avatar avatar-small" /><span>@UserEntity.Login</span></a>
    </div>
}

<a href="@Url.Action(MVC.Topics.Topics.Index())" @Html.Css("selected", (string)ViewBag.CurrentSection == "Topics") ng-controller="MirGames.Topics.UnreadMenuItemController">
    Блог
    <span @Html.Css("updates-count").Add("counter").Add("ng-hide", @ViewBag.BlogTopicsUnread == 0)
          title="Перейти к непрочитанным темам блога" ng-click="goToUnread('@Url.Action(MVC.Topics.Topics.Index(onlyUnread:true))', $event.which == 2); $event.preventDefault();"
          ng-show="unreadCount > 0" ng-bind="'+' + unreadCount">+@ViewBag.BlogTopicsUnread</span>
</a>
<a href="@Url.Action(MVC.Forum.Forum.Index())" @Html.Css("selected", (string)ViewBag.CurrentSection == "Forum") ng-controller="MirGames.Forum.UnreadMenuItemController">
    Форум
    <span @Html.Css("updates-count").Add("counter").Add("ng-hide", @ViewBag.ForumTopicsUnread == 0) title="Перейти к непрочитанным обсуждениям"
          ng-click="goToUnread('@Url.Action(MVC.Forum.Forum.Index(onlyUnread:true))', $event.which == 2); $event.preventDefault();"
          ng-show="unreadCount > 0" ng-bind="'+' + unreadCount">+@ViewBag.ForumTopicsUnread</span>
</a>
@Html.ActionLink("Проекты", MVC.Projects.Projects.Index(), new { @class = ViewBag.CurrentSection == "WIP" ? "selected" : string.Empty })

@Html.ActionLink("Пользователи", MVC.Users.Index(), new { @class = ViewBag.CurrentSection == "Users" ? "selected" : string.Empty })


@if (User.IsInRole("Administrator"))
{
    @Html.ActionLink("Управление", MVC.Tools.Events(), new { @class = ViewBag.CurrentSection == "Tools" ? "selected" : string.Empty })
}

@Html.ActionLink("Чат", MVC.Chat.Chat.Index(), new
{
    @class = ViewBag.CurrentSection == "Chat" ? "selected" : string.Empty
})
