@if (UserEntity != null)
{
    <span ng-controller="MirGames.UnreadMenuItemController">
        <a href="@Url.ActionCached(MVC.Users.Profile(UserEntity.Id))" @Html.Css("user-link").Add("selected", (string)ViewBag.CurrentSection == "CurrentUser")>
            <img src="@UserEntity.AvatarUrl" class="avatar avatar-small" /><span>@UserEntity.Login</span>
        </a>
        <a @Html.Css("updates-count").Add("counter").Add("ng-hide", @ViewBag.NotificationsCount == 0) title="Новое"
           ng-if="unreadCount > 0" ng-bind="'+' + unreadCount" href="@Url.ActionCached(MVC.Users.Feed())">+@ViewBag.NotificationsCount</a>
    </span>
}

<a href="@Url.ActionCached(MVC.Topics.Topics.Index())" @Html.Css("selected", (string)ViewBag.CurrentSection == "Topics")>Блог</a>
<a href="@Url.ActionCached(MVC.Forum.Forum.Index())" @Html.Css("selected", (string)ViewBag.CurrentSection == "Forum")>Форум</a>
<a href="@Url.ActionCached(MVC.Projects.Projects.Index())" @Html.Css("selected", (string)ViewBag.CurrentSection == "WIP")>Проекты</a>
<a href="@Url.ActionCached(MVC.Users.Index())" @Html.Css("selected", (string)ViewBag.CurrentSection == "Users")>Пользователи</a>

@if (User.IsInRole("Administrator"))
{
    <a href="@Url.ActionCached(MVC.Tools.Events())" @Html.Css("selected", (string)ViewBag.CurrentSection == "Tools")>Управление</a>
}

<a href="@Url.ActionCached(MVC.Chat.Chat.Index())" @Html.Css("selected", (string)ViewBag.CurrentSection == "Chat")>Чат</a>