@model MirGames.Domain.Users.ViewModels.UserViewModel
@{
    ViewBag.Title = Model.Login;
}

<article class="user-info">
    <img src="@Model.AvatarUrl" class="avatar avatar-big" />    
    <h4>@Model.GetName()<div class="user-rating">@Model.Rating&nbsp;<i class="fa fa-thumbs-up"></i></div></h4>
    <div class="user-location">@Model.GetAddress()</div>
    <div class="user-registration-date">С нами уже @Html.RelativeDate(Model.RegistrationDate, "{0} {1}")</div>
    <div class="user-visit-date">Последний раз был в сети <span>@Html.RelativeDate(Model.LastVisitDate)</span></div>
    <div class="user-about">@Html.Markdown(Model.About)</div>
</article>

