@{ Layout = "~/Views/Shared/_Nav.cshtml"; }

@section SectionTitle { Пользователи }

@section SectionMenu
{
    <div class="users-menu">
        <a href="@Url.Action("Index")" class="@(ViewBag.SectionMode == "Active" ? "selected" : string.Empty)">По активности</a>
        <a href="@Url.Action("Top")" class="@(ViewBag.SectionMode == "Top" ? "selected" : string.Empty)">По рейтингу</a>
        <a href="@Url.Action("Online")" class="@(ViewBag.SectionMode == "Online" ? "selected" : string.Empty)">Онлайн</a>

        @if (User.IsInRole("Administrator"))
        {
            <a href="@Url.Action("NotActivated")" class="@(ViewBag.SectionMode == "NotActivated" ? "selected" : string.Empty)">Неактивированные</a>
        }
    </div>
}