<a href="@Url.ActionCached(MVC.Users.Index())" class="@(ViewBag.SectionMode == "Active" ? "selected" : string.Empty)">По активности</a>
<a href="@Url.ActionCached(MVC.Users.Top())" class="@(ViewBag.SectionMode == "Top" ? "selected" : string.Empty)">По рейтингу</a>
<a href="@Url.ActionCached(MVC.Users.Online())" class="@(ViewBag.SectionMode == "Online" ? "selected" : string.Empty)">Онлайн</a>

@if (User.IsInRole("Administrator"))
{
    <a href="@Url.ActionCached(MVC.Users.NotActivated())" class="@(ViewBag.SectionMode == "NotActivated" ? "selected" : string.Empty)">Неактивированные</a>
}
