@model MirGames.Domain.Users.ViewModels.UserWallRecordViewModel
<article class="wall-record">
    <div class="record-author">
        <a href="@Url.ActionCached(MVC.Users.Profile(Model.Author.Id.GetValueOrDefault()))" class="user-login">
            <img class="avatar avatar-small" src="@Model.Author.AvatarUrl"/>
            <span>@Model.Author.Login</span>
        </a>
        <span class="record-date relative" datetime="@Model.DateAdd.ToString("O")">@Html.RelativeDate(Model.DateAdd)</span>
    </div>
    <div class="record-text text">
        @Html.Markdown(Model.Text)
    </div>
</article>
