@using MirGames.Models
@model MirGames.Controllers.UsersController.CommentsPageViewModel
@{
    ViewBag.Title = Model.User.Login;
    AddPageCssClass("user-comments-page");
}

@Html.Partial("_ProfileMenu", Model.User)

@Html.Partial("_Pagination", (PaginationViewModel)ViewBag.Pagination)
<div class="comments-list">
    @foreach(var comment in Model.Comments)
    {
        <a href="@Url.ActionCached(MVC.Topics.Topics.Topic(comment.TopicId))" class="topic-title">@comment.TopicTitle</a>
        @Html.Partial(MVC.Topics.Topics.Views._Comment, comment)
    }
</div>
@Html.Partial("_Pagination", (PaginationViewModel)ViewBag.Pagination)