@using MirGames.Models
@model MirGames.Controllers.UsersController.ForumPageViewModel
@{
    ViewBag.Title = Model.User.Login;
    AddPageCssClass("user-forum-posts-page");
}

@section Nav
{
    @Html.Partial("_ProfileMenu", Model.User)
}

@Html.Partial("_UserInfo", Model.User)

@Html.Partial("_Pagination", (PaginationViewModel)ViewBag.Pagination)
<div class="posts-list">
    @foreach(var post in Model.Posts)
    {
        <article class="message">
            <header>
                <span class="comment-date">@post.CreatedDate.Format()</span>
                <a href="@Url.Action(MVC.Forum.Forum.Topic(post.ForumAlias, post.TopicId))" class="topic-title">@post.TopicTitle</a>
            </header>
            <div class="text">
                @Html.Raw(post.Text)
            </div>
        </article>
    }
</div>
@Html.Partial("_Pagination", (PaginationViewModel)ViewBag.Pagination)