@model MirGames.Controllers.UsersController.ProfileViewModel
@{
    ViewBag.Title = Model.User.Login;
    PageScriptController = "MirGames.Users.ProfilePage";
    AddPageCssClass("user-page");
}

@Html.Partial("_ProfileMenu", Model.User)

<article class="user-info">
    <img src="@Model.User.AvatarUrl" class="avatar avatar-big" />
    <h4>@Model.User.GetName()<div class="user-rating">@Model.User.Rating&nbsp;<i class="fa fa-thumbs-up"></i></div></h4>
    <div class="user-location">@Model.User.GetAddress()</div>
    <div class="user-registration-date">С нами уже @Html.RelativeDate(Model.User.RegistrationDate, "{0} {1}")</div>
    <div class="user-visit-date">Последний раз был в сети <span class="relative" datetime="@Model.User.LastVisitDate.ToString("O")">@Html.RelativeDate(Model.User.LastVisitDate)</span></div>
    <div class="user-about">@Model.User.About</div>
</article>
<div class="user-blog">
    <h4>Блог</h4>
    @if (Model.Blog.CanAddTopic)
    {
        <div class="buttons">
            <a href="javascript:void(0);" dialog="@Url.Action(MVC.Topics.Topics.AddTopicDialog())" resolve="{ 'blog-id': @Model.Blog.BlogId }"
            dialog-controller="MirGames.Topics.AddNewTopicDialogController">Добавить пост в блог</a>
        </div>
    }
    @if (Model.Topics != null && Model.Topics.Any())
    {
        <div class="blog-posts">
            @foreach (var topic in Model.Topics)
            {
                @Html.Partial(MVC.Topics.Topics.Views._TopicListItem, topic)
            }
        </div>
    }
    else
    {
        <div class="not-found">
            В блоге пока нет ни одного поста.
        </div>
    }
</div>
