@model MirGames.Domain.Topics.ViewModels.CommentViewModel
<div @Html.Css("comment").Add("unread-comment", !Model.IsRead) comment-id="@Model.Id" id="@(Model.IsRead ? null : "unread")">
    <header id="@("c" + Model.Id)">
        <a href="@Url.ActionCached(MVC.Users.Profile(Model.Author.Id.GetValueOrDefault()))" class="avatar-link">
            <img src="@Model.Author.AvatarUrl" class="avatar" />
        </a>
        <a href="@Url.ActionCached(MVC.Users.Profile(Model.Author.Id.GetValueOrDefault()))" class="user-login">@Model.Author.Login</a>
        <span class="comment-date relative" datetime="@Model.CreationDate.ToString("O")">@Html.RelativeDate(Model.CreationDate)</span>
        <div class="message-bar">
            @if (Model.CanBeEdited)
            {
                <a class="edit-post" href="javascript:void(0);" dialog="@Url.ActionCached(MVC.Topics.Topics.EditCommentDialog())" title="Редактировать"
                    dialog-close="reloadComment(@Model.Id)"
                    resolve="{ 'comment-id': @Model.Id }" dialog-controller="MirGames.Topics.EditCommentDialogController"><i class="fa fa-pencil-square-o"></i></a>
            }
            @if (Model.CanBeDeleted)
            {
                <a class="delete-post" href="javascript:void(0);" title="Удалить" dialog="@Url.ActionCached(MVC.Topics.Topics.DeleteCommentDialog())"
                   dialog-close="hideComment(@Model.Id)" resolve="{ 'comment-id': @Model.Id }"
                   dialog-controller="MirGames.Topics.DeleteCommentDialogController"><i class="fa fa-times"></i></a>
            }
            @if (Model.UpdatedDate > Model.CreationDate)
            {
                <div class="edited">Отредактировано: <span class="relative" datetime="@Model.UpdatedDate.GetValueOrDefault().ToString("O")">@Html.RelativeDate(Model.UpdatedDate.GetValueOrDefault())</span></div>
            }
        </div>
    </header>
    <div class="text">
        @Html.Raw(Model.Text)
    </div>
</div>
