@model IEnumerable<MirGames.Domain.Topics.ViewModels.CommentViewModel>
    
<h3>Последние комментарии</h3>
<div class="comments">
    @foreach (var comment in Model)
    {
        <div class="comment-item">
            <a href="@Url.ActionCached(MVC.Topics.Topics.Topic(comment.TopicId))">@comment.TopicTitle</a>
            <div class="short-text">@comment.Text</div>
            <div class="topic-info"><span class="date relative" datetime="@comment.CreationDate.ToString("O")">@Html.RelativeDate(comment.CreationDate)</span>, <a href="@Url.ActionCached(MVC.Users.Profile(comment.Author.Id.GetValueOrDefault()))">@comment.Author.Login</a></div>
        </div>
    }
</div>