@using MirGames.Domain.Security
@model IEnumerable<MirGames.Domain.Topics.ViewModels.TopicsListItem>
<a href="@Url.Action(MVC.Topics.Topics.Index())" @Html.Css("all-topics").Add("selected", ViewBag.Subsection == "All")>Все темы</a>

@if (User.Can("Create", "Topic"))
{
<a href="@Url.Action(MVC.Topics.Topics.New())" @Html.Css("add-topic").Add("selected", ViewBag.Subsection == "New")><i class="fa fa-pencil"></i>Новая тема</a>
}

@*@foreach (string tag in ViewBag.Tags)
{
    @Html.ActionLink(tag, MVC.Topics.Topics.Index(tag), new { @class = string.Equals(tag, ViewBag.Tag, StringComparison.InvariantCultureIgnoreCase) ? "selected" : string.Empty })
}*@
