@using MirGames.Domain.Security
@using MirGames.Infrastructure

@{
    var currentTag = (string)ViewBag.Tag;
    var subsection = (string)ViewBag.Subsection;
}


<div class="page-header">
    <div class="header">
        @if (ViewBag.OnlyUnread == true)
        {
            <h4><a href="@Url.ActionCached(MVC.Topics.Topics.Index())">Блог</a></h4>
            <h3>Новые темы и ответы в блоге</h3>
        }
        else if (currentTag != null)
        {
            <h4><a href="@Url.ActionCached(MVC.Topics.Topics.Index())">Блог</a></h4>
            <h3>@currentTag.ToTitleCase()</h3>
        }
        else
        {
            <h3>Блог</h3>
        }
    </div>
    <div class="buttons">
        @if (User.Can("Create", "Topic"))
        {
            <a href="@Url.ActionCached(MVC.Topics.Topics.New())" @Html.Css("add-topic").Add("selected", ViewBag.Subsection == "New")><i class="fa fa-pencil"></i>Новый пост</a>
        }
        @if (ViewBag.BlogTopicsUnread > 0)
        {
            <a href="javascript:void(0)" ng-click="markAllTopicsAsRead()">Отметить всё как прочитанное</a>
        }
    </div>
</div>
<nav class="toolbar">
    <a href="@Url.ActionCached(MVC.Topics.Topics.Index())" @Html.Css("selected", subsection == "Main")>Основная лента</a>
    <a href="@Url.ActionCached(MVC.Topics.Topics.AllPosts())" @Html.Css("selected", subsection == "All")>Все посты</a>
    <a href="@Url.ActionCached(MVC.Topics.Topics.MicroTopics())" @Html.Css("selected", subsection == "Microtopics")>Микроблоги</a>
    <a href="@Url.ActionCached(MVC.Topics.Topics.Tutorials())" @Html.Css("selected", subsection == "Tutorials")><i class="fa fa-graduation-cap"></i>Обучающие статьи</a>
</nav>
