@model MirGames.Domain.Topics.ViewModels.TopicViewModel
@{ Layout = "~/Views/Shared/_Nav.cshtml"; }

@section SectionTitle { @Model.Title }
@section SectionMenu
{
    <div class="topic-menu">
        @if (Model.Blog.BlogId != null)
        {
            <a href="@EntityLinkProvider.GetLink(Model.Blog.EntityId, Model.Blog.EntityType)" class="back-to-topics"><i class="fa fa-arrow-left"></i>@Model.Blog.Description</a>
        }
        else
        {
            <a href="@ViewBag.BackUrl" class="back-to-topics"><i class="fa fa-arrow-left"></i>Вернуться к темам</a>
        }

        <div class="topic-info subsection">
        </div>
        @*        @if (User.IsInRole("User"))
        {
            <a href="javascript:void(0);" class="add-to-favorite"><i class="fa fa-star"></i>В избранное</a>
        }*@
        <div class="subsection">
            <a href="@Url.Action("Topic", new { topicId = Model.Id })#comments" class="comments"><i class="fa fa-comments"></i>Комментарии <span class="comments-count counter">@Model.CommentsCount</span></a>

            @if (Model.CanBeCommented)
            {
                <a href="@Url.Action("Topic", new { topicId = Model.Id })#new-comment" class="comment"><i class="fa fa-comment"></i>Комментировать</a>
            }
        </div>
    </div>
}