@using MirGames.Models
@model IEnumerable<MirGames.Domain.Topics.ViewModels.TopicsListItem>

@{
    ViewBag.Title = ViewBag.tag != null ? (ViewBag.tag + " / Блог") :  "Блог";
    AddPageCssClass("topics-page");
    var topics = this.Model.ToList();
}

@section Nav { @Html.Partial("_TopicsMenu") }

<h3>@(ViewBag.tag ?? "Все топики")</h3>
<form ng-controller="MirGames.Topics.SearchPanelController" ng-submit="search()">
    <div class="form-field">
        <input type="text" placeholder="Поиск..." ng-model="searchQuery" />
    </div>
</form>
@Html.Partial("_Pagination", (PaginationViewModel)ViewBag.Pagination)
<div class="topics-list">
    @foreach (var topic in topics)
    {
        @Html.Partial("_TopicListItem", topic)
    }
</div>
@Html.Partial("_Pagination", (PaginationViewModel)ViewBag.Pagination)