@using MirGames.Areas.Topics.Controllers
@using MirGames.Domain.Topics.ViewModels
@using MirGames.Infrastructure
@using MirGames.Models
@model IEnumerable<TopicsListItem>

@{
    var currentTag = (string)ViewBag.Tag;
    ViewBag.Title = currentTag != null ? (currentTag.ToTitleCase() + " / Блог") :  "Блог";
    AddPageCssClass("topics-page");
    this.PageScriptController = "MirGames.Topics.TopicsPage";
    var topics = this.Model.ToList();
    var tags = ((IEnumerable<TopicsController.TagLinkViewModel>)ViewBag.Tags).ToList();
    var comments = (IEnumerable<CommentViewModel>)ViewBag.Comments;
}

@Html.Partial("_TopicsHeader")
    
<div class="topics-list">
    @foreach (var topic in topics)
    {
        @Html.Partial("_TopicListItem", topic)
    }
    @if (!topics.Any())
    {
        <div class="items-not-found">
            Посты не найдены
        </div>
    }
    @Html.Partial("_Pagination", (PaginationViewModel)ViewBag.Pagination)
</div>
<div class="last-activities">
    <h3>Тэги</h3>
    <div class="tags tags-cloud">
        @foreach (var tag in tags)
        {
            <a href="@tag.Url" @Html.Css(string.Format("tag-size-{0}", tag.Size)).Add("selected", tag.IsSelected)>@tag.Tag</a>
        }
    </div>
    @Html.Partial("_LastComments", comments)
</div>
