@using MirGames.Domain.Security
@using MirGames.Domain.Topics.ViewModels
@using MirGames.Infrastructure
@using MirGames.Models
@model IEnumerable<TopicsListItem>

@{
    var currentTag = (string)ViewBag.Tag;
    ViewBag.Title = currentTag != null ? (currentTag.ToTitleCase() + " / Блог") :  "Блог";
    AddPageCssClass("topics-page");
    var topics = this.Model.ToList();
    var tags = ((IEnumerable<TagViewModel>)ViewBag.Tags).OrderBy(t => t.Tag).ToList();
    var comments = (IEnumerable<CommentViewModel>)ViewBag.Comments;
}

@Html.Partial("_TopicsHeader")
    
<div class="topics-list">
    @foreach (var topic in topics)
    {
        @Html.Partial("_TopicListItem", topic)
    }
    @Html.Partial("_Pagination", (PaginationViewModel)ViewBag.Pagination)
</div>
<div class="last-activities">
    @Html.Partial("_LastComments", comments)
    <h3>Тэги</h3>
    <div class="tags tags-cloud">
        @{
            var maxTagsCount = tags.Max(t => t.Count);
        }
        @foreach (var tag in tags)
        {
            <a href="@Url.Action(MVC.Topics.Topics.Index(tag.Tag.Trim(), (string)ViewBag.SearchString, 1, false))" @Html.Css(string.Format("tag-size-{0}", (tag.Count * 5 / maxTagsCount))).Add("selected", tag.Tag.EqualsIgnoreCase(currentTag))>@tag.Tag.Trim()</a>
        }
    </div>
</div>
