@using MirGames.Domain.Topics.ViewModels
@model TopicViewModel

@{
    Title = Model.Title;
    PageScriptController = "MirGames.Topics.TopicPage";
    AddPageCssClass("topic-page");
}

@section Nav { @Html.Partial("_TopicMenu") }

<header>
    <h3>@Model.Title</h3>
</header>

<article>
    <div class="text topic-text">
        @Html.Raw(Model.Text)
    </div>

    <footer>
        @Author.UserAvatarLink(Model.Author, "avatar-tiny", showLogin: true)
        <span class="creation-date">@Html.DisplayFor(m => m.CreationDate)</span>
        <ul class="tags">
            @foreach (var tag in Model.Tags)
            {
                <li>@Html.ActionLink(tag, "Index", "Topics", new { tag }, null)</li>
            }
        </ul>
        @Html.Partial("_SocialButtons")
    </footer>
</article>

<h4 id="comments" @Html.Attr("style", "display: none", !Model.Comments.Any())>Комментарии</h4>
    
<div class="comments-list">
    @foreach (CommentViewModel comment in Model.Comments)
    {
        @Html.Partial("_Comment", comment)
    }
    <div class="comment" comment-id="{{comment.Id}}" ng-repeat="comment in comments" ng-cloak>
        <header id="{{'c' + comment.Id}}">
            <a author-link="comment.Author.AuthorId" class="avatar-link">
                <img ng-src="{{comment.Author.AvatarUrl}}" class="avatar" />
            </a>
            <a author-link="comment.Author.AuthorId" class="user-login">{{comment.Author.Login}}</a>
            <span class="comment-date">({{comment.CreationDate | date:'dd.MM.yy HH:mm'}})</span>
            <div class="message-bar">
                <a ng-show="comment.CanBeEdited" class="edit-post" href="javascript:void(0);" dialog="@Url.Action(MVC.Topics.Topics.EditCommentDialog())" title="Редактировать"
                    dialog-close="$parent.reloadComment(comment.Id)"
                    resolve="{ 'comment-id': {{comment.Id}} }" dialog-controller="MirGames.Topics.EditCommentDialogController"><i class="fa fa-pencil-square-o"></i></a>
                <a ng-show="comment.CanBeDeleted" class="delete-post" href="javascript:void(0);" title="Удалить" dialog="@Url.Action(MVC.Topics.Topics.DeleteCommentDialog())"
                    dialog-close="hideComment(comment.Id)" resolve="{ 'comment-id': {{comment.Id}} }"
                    dialog-controller="MirGames.Topics.DeleteCommentDialogController"><i class="fa fa-times"></i></a>
                <div ng-show="comment.UpdatedDate > comment.CreationDate" class="edited">Отредактировано: {{comment.UpdatedDate | date:'dd.MM.yy HH:mm'}}</div>
            </div>
        </header>
        <div class="text" ng-bind-html="comment.Text | unsafe"></div>
    </div>
</div>

@if (Model.CanBeCommented) { 
    <h4 id="new-comment">Новый комментарий</h4>
    <div class="comment-form">
        <form class="new-comment-form" ng-submit="addComment()" novalidate name="postCommentForm">
            <texteditor show-preview="true" required="true" focus="comment.isFocused" text="comment.text" post="addComment()" attachments="comment.attachments" entity-type="comment"></texteditor>
            <div class="buttons">
                <a href="javascript:void(0);" ng-click="addComment()" class="button">Оставить комментарий</a>
            </div>
        </form>
    </div>
}