@using System.Web.Mvc
@using System.Web.Mvc.Html
@using System.Web.Routing
@inherits Helper

@helper AuthorizedLink(string linkText, string actionName, string controllerName, object routeValues = null) {
    if (@Page.User.Identity.IsAuthenticated) {
        @Html.ActionLink(linkText, actionName, controllerName, routeValues ?? new RouteValueDictionary(), new RouteValueDictionary())
    } else {
        @LoginLink(linkText, "authorization-required")
    }
}

@helper LoginLink(string linkText, string className = null) {
    <a href="@Url.Action(MVC.Account.Login())" class="sign-in @className">@linkText</a>
}