@using System.Web.Mvc
@using System.Web.Mvc.Html
@using MirGames.Domain.Users.ViewModels
@inherits Helper

@helper UserAvatarLink(AuthorViewModel model, string className, string linkClass = "avatar-link", bool showLogin = false) {
    if (model.Id > 0)
    {
        <a href="@Url.Action(MVC.Users.Profile(model.Id.GetValueOrDefault()))" class="@linkClass">
            <img src="@(model.AvatarUrl)" class="avatar @className" />
            @if (showLogin) { @(model.Login) }
        </a>
    }
    else
    {
        <span class="@linkClass">
            <img src="@(model.AvatarUrl)" class="avatar @className" />
            @if (showLogin) { @(model.Login) }
        </span>
    }
}

@helper UserLink(AuthorViewModel model, string className)
{
    if (model.Id > 0)
    {
        <a href="@Url.Action(MVC.Users.Profile(model.Id.GetValueOrDefault()))" class="@className">@(model.Login)</a>
    }
    else
    {
        <span class="@className">@(model.Login)</span>
    }
}