@using MirGames.Domain.Wip.ViewModels
@model MirGames.Domain.Wip.ViewModels.WipProjectViewModel

@{
    var statistics = (ProjectWorkItemStatisticsViewModel)ViewBag.Statistics;
}

<div class="project-info-block">
    <div class="project-description">
        @if (!string.IsNullOrEmpty(Model.LogoUrl))
        {
            <div class="logo">
                <img src="@Model.LogoUrl" />
            </div>
        }
        <div class="project-info">
            <h1>@Model.Title</h1>
            <div class="project-stats">
                <span class="followers-count" title="Наблюдатели"><i class="fa fa-eye"></i>@Model.FollowersCount</span>
                <span class="votes" title="Рейтинг"><i class="fa fa-thumbs-up"></i>@Model.Votes</span>
                <span class="updated-date" title="Последнее обновление"><i class="fa fa-clock-o"></i>@(Model.UpdatedDate.Format())</span>
            </div>
            <footer>
                <a href="@Url.Action("Profile", "Users", new { userId = Model.Author.Id })" class="user-login avatar-link"><img src="@Model.Author.AvatarUrl" class="avatar avatar-tiny" /><span>@Model.Author.Login</span></a>
            </footer>
            <ul class="tags">
                @foreach (var tag in Model.Tags)
                {
                    <li>@Html.ActionLink(tag.Trim(), "Index", "Projects", new { tag = tag.Trim() }, null)</li>
                }
            </ul>
        </div>
    </div>
    <div class="project-short-info">
        @if (Model.CanCreateBug || Model.CanCreateFeature || Model.CanCreateTask)
        {
            <div class="add-to-tracker dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle"><i class="fa fa-plus"></i>Добавить...</a>
                <ul class="dropdown-menu">
                    @if (Model.CanCreateBug)
                    {
                        <li>
                            <a dialog="@Url.Action(MVC.Projects.Projects.AddWorkItemDialog())" resolve="{ 'item-type': 1, 'project-alias': '@Model.Alias' }" dialog-controller="MirGames.Projects.AddNewWorkItemDialogController"><i class="fa fa-bug"></i>Багу</a>
                        </li>
                    }
                    @if (Model.CanCreateTask)
                    {
                        <li>
                            <a dialog="@Url.Action(MVC.Projects.Projects.AddWorkItemDialog())" resolve="{ 'item-type': 2, 'project-alias': '@Model.Alias' }" dialog-controller="MirGames.Projects.AddNewWorkItemDialogController"><i class="fa fa-tasks"></i>Задачу</a>
                        </li>
                    }
                    @if (Model.CanCreateFeature)
                    {
                        <li>
                            <a dialog="@Url.Action(MVC.Projects.Projects.AddWorkItemDialog())" resolve="{ 'item-type': 3, 'project-alias': '@Model.Alias' }" dialog-controller="MirGames.Projects.AddNewWorkItemDialogController"><i class="fa fa-lightbulb-o"></i>Фичу</a>
                        </li>
                    }
                    @if (Model.CanCreateBlogTopic)
                    {
                        <li>
                            <a dialog="@Url.Action(MVC.Topics.Topics.AddTopicDialog())" resolve="{ 'blog-id': @Model.BlogId }"
                               dialog-controller="MirGames.Topics.AddNewTopicDialogController">Пост в блог</a>
                        </li>
                    }
                </ul>
            </div>
        }
        <div class="work-items">
            <div class="bug-type"><i class="fa fa-bug"></i><a title="Открытые баги" href="@Url.Action("WorkItems", "Projects", new { itemType = WorkItemType.Bug, projectAlias = Model.Alias })">@statistics.OpenBugsCount</a></div>
            <div class="task-type"><i class="fa fa-tasks"></i><a title="Открытые таски" href="@Url.Action("WorkItems", "Projects", new { itemType = WorkItemType.Task, projectAlias = Model.Alias })">@statistics.OpenTasksCount</a></div>
            <div class="feature-type"><i class="fa fa-lightbulb-o"></i><a title="Открытые фичи" href="@Url.Action("WorkItems", "Projects", new { itemType = WorkItemType.Feature, projectAlias = Model.Alias })">@statistics.OpenFeaturesCount</a></div>
        </div>
    </div>
</div>
<nav class="toolbar">
    @Html.Partial("_ProjectMenu", Model)
</nav>