@model MirGames.Domain.Wip.ViewModels.WipProjectViewModel
<article @Html.Css("project")>
    <div class="project-info">
        <a class="avatar-link" href="@Url.Action(MVC.Projects.Projects.Project(Model.Alias))"><img src="@Model.LogoUrl" class="avatar avatar-small" /></a>
        <div class="project-title">
            <a class="project-title" href="@Url.Action(MVC.Projects.Projects.Project(Model.Alias))">@Model.Title</a>
            <div class="short-description">@Model.ShortDescription</div>
            <div class="tags">
                @foreach (var tag in Model.Tags)
                {
                    <span><a href="@Url.Action(MVC.Projects.Projects.Index(tag.Trim()))">@tag.Trim()</a></span>
                }
            </div>
        </div>
        <div @Html.Css("genre")>
            @Model.Genre
        </div>
        <div @Html.Css("project-rating")>
            @Model.Votes&nbsp;<i class="fa fa-thumbs-up"></i>
        </div>
        <div @Html.Css("followers-count")>
            @Model.FollowersCount&nbsp;<i class="fa fa-eye"></i>
        </div>

        <div class="project-updated">
            <span class="relative" datetime="@Model.UpdatedDate.ToString("O")">@Html.RelativeDate(Model.UpdatedDate)</span>
        </div>
    </div>
</article>
