@using MirGames.Domain.Security
@using MirGames.Domain.Wip.ViewModels
@using MirGames.Infrastructure
@using MirGames.Models
@model IEnumerable<WipProjectViewModel>

@{
    ViewBag.Title = ViewBag.SectionTitle ?? "Проекты в разработке";
    AddPageCssClass("wip-page");
    var tags = (IEnumerable<WipTagViewModel>)ViewBag.Tags;
    var currentTag = (string)ViewBag.Tag;
}

<div class="page-header">
    <div class="header">
        @if (currentTag != null)
        {
            <h4><a href="@Url.ActionCached(MVC.Projects.Projects.Index())">Проекты</a></h4>
            <h3>@currentTag.ToTitleCase()</h3>
        }
        else {
            <h3>Проекты</h3>
        }
    </div>
</div>
<div class="page-toolbar">@if (User.Can("Create", "WipProject"))
    {
        <div class="icon-buttons">
            <a href="@Url.ActionCached(MVC.Projects.Projects.New())" class="add-wip-project icon-button"><i class="fa fa-plus"></i>Новый проект</a>
        </div>
    }</div>

@if (!Model.Any())
{
    <div class="projects-not-found">
        Проекты не найдены
    </div>
}

<div class="projects-list">
    <article @Html.Css("project").Add("project-header")>
        <div class="project-info">
            <span class="avatar-link"></span>
            <div class="project-title">
                Проект
            </div>
            <div @Html.Css("genre")>
                Жанр
            </div>
            <div @Html.Css("project-rating")>
                Рейтинг
            </div>
            <div @Html.Css("followers-count")>
                Подписчики
            </div>
            <div class="project-updated">
                Дата обновления
            </div>
        </div>
    </article>

    @foreach (var user in Model)
    {
        @Html.Partial("_ProjectListItem", user)
    }
    
    @Html.Partial("_Pagination", (PaginationViewModel)ViewBag.Pagination)
</div>
<div class="projects-more-info">
    <h3>Тэги</h3>
    <div class="tags tags-cloud">
        @{
            var maxTagsCount = tags.Max(t => t.Count);
        }
        @foreach (var tag in tags)
        {
            <a href="@Url.ActionCached(MVC.Projects.Projects.Index(tag.Tag.Trim()))" @Html.Css(string.Format("tag-size-{0}", (tag.Count * 5 / maxTagsCount))).Add("selected", tag.Tag.EqualsIgnoreCase(currentTag))>@tag.Tag.Trim()</a>
        }
    </div>
</div>