@using MirGames.Domain.Attachments.ViewModels
@using MirGames.Domain.Topics.ViewModels
@using MirGames.Domain.Wip.ViewModels

@model WipProjectViewModel
@{
    ViewBag.Title = "О проекте / " + Model.Title;
    // PageScriptController = "MirGames.Wip.ProjectPage";
    AddPageCssClass("wip-project-page");
    var images = (IEnumerable<AttachmentViewModel>)ViewBag.Images;
    var topics = (IEnumerable<TopicsListItem>)ViewBag.Topics;
    var commits = (IEnumerable<WipProjectCommitViewModel>)ViewBag.Commits;
    var statistics = (ProjectWorkItemStatisticsViewModel)ViewBag.Statistics;
}

@section Nav
{
    @Html.Partial("_ProjectMenu", Model)
}

@Html.Partial("_ProjectInfo", Model)

<section>
    <div class="main-section">
        @if (!string.IsNullOrEmpty(Model.RepositoryUrl) && Model.CanReadRepository)
        {
            <h4>Репозиторий</h4>
            <div class="repository-url">
                <span>Адрес репозитория:</span>
                <input type="text" value="@Model.RepositoryUrl" readonly="true" />
                <pre><code>git clone @Model.RepositoryUrl</code></pre>
                <a href="@Url.Action(MVC.Projects.Projects.Archive(Model.Alias))">Скачать ZIP архив</a>
            </div>
        }
        @if (topics.Any())
        {
            <h4>Блог</h4>
            <div class="blog-posts">
                @foreach (var topic in topics)
                {
                    @Html.Partial(MVC.Topics.Topics.Views._TopicListItem, topic)
                }
            </div>
        }
    </div>

    <div class="aside-section">
        @if (images.Any())
        {
            <h4>Скриншоты</h4>
            <ul class="screenshots">
                @foreach (var attachment in images)
                {
                    <li>
                        <img src="@attachment.AttachmentUrl" />
                    </li>
                }
            </ul>
        }
        <h4>Трекер</h4>
        <div class="work-items">
            <div class="bug-type"><i class="fa fa-bug"></i><a title="Открытые баги" href="@Url.Action("WorkItems", "Projects", new { itemType = WorkItemType.Bug, projectAlias = Model.Alias })">@statistics.OpenBugsCount</a></div>
            <div class="task-type"><i class="fa fa-tasks"></i><a title="Открытые таски" href="@Url.Action("WorkItems", "Projects", new { itemType = WorkItemType.Task, projectAlias = Model.Alias })">@statistics.OpenTasksCount</a></div>
            <div class="feature-type"><i class="fa fa-lightbulb-o"></i><a title="Открытые фичи" href="@Url.Action("WorkItems", "Projects", new { itemType = WorkItemType.Feature, projectAlias = Model.Alias })">@statistics.OpenFeaturesCount</a></div>
        </div>
        @if (Model.CanReadRepository && commits.Any())
        {
            <h4>История</h4>
            <div class="commits">
                @foreach (var commit in commits)
                {
                    <div class="commit">
                        <span class="date">@commit.Date.Format()</span>
                        <div class="text">
                            @commit.Message
                        </div>
                        <span class="user-name">@commit.Author.Login</span>
                        @*<a href="@Url.Action("Profile", "Users", new { userId = commit.Author.Id })" class="user-login avatar-link"><img src="@commit.Author.AvatarUrl" class="avatar avatar-tiny" /><span>@commit.Author.Login</span></a>*@
                    </div>
                }
            </div>
        }
    </div>
</section>