@using MirGames.Domain.Attachments.ViewModels
@using MirGames.Domain.Topics.ViewModels
@using MirGames.Domain.Wip.ViewModels
@using MirGames.Infrastructure

@model WipProjectViewModel
@{
    ViewBag.Title = "О проекте / " + Model.Title;
    // PageScriptController = "MirGames.Wip.ProjectPage";
    AddPageCssClass("wip-project-page");
    var images = ((IEnumerable<AttachmentViewModel>)ViewBag.Images).EnsureCollection();
    var topics = ((IEnumerable<TopicsListItem>)ViewBag.Topics).EnsureCollection();
    var commits = (IEnumerable<WipProjectCommitViewModel>)ViewBag.Commits;
}

@Html.Partial("_ProjectInfo", Model)

<section>
    <div class="main-section">
        <div class="project-description">
            <h4>Описание проекта</h4>
            <div class="text">
                @Html.Markdown(Model.Description)
            </div>
        </div>
        @if (Model.BlogId.HasValue && topics.Any())
        {
            <h4>Блог</h4>
            <div class="blog-posts">
                @foreach (var topic in topics)
                {
                    @Html.Partial(MVC.Topics.Topics.Views._TopicListItem, topic)
                }
            </div>
        }
    </div>
    <div class="aside-section">
        @if (!string.IsNullOrEmpty(Model.RepositoryUrl) && Model.CanReadRepository)
        {
            <h4>@Html.ActionLink("Репозиторий", MVC.Projects.Projects.Code(Model.Alias))</h4>
            <div class="repository-url">
                <span>Адрес репозитория:</span>
                <input type="text" value="@Model.RepositoryUrl" readonly="true" />
                <a href="@Url.Action(MVC.Projects.Projects.Archive(Model.Alias))">Скачать ZIP архив</a>
            </div>
        }
        @if (images.Any())
        {
            <h4><a href="@Url.Action(MVC.Projects.Projects.Gallery(Model.Alias))">Скриншоты</a></h4>
            <ul class="screenshots">
                @foreach (var attachment in images)
                {
                    <li dialog ="@Url.Action(MVC.Projects.Projects.GalleryItemDialog())" resolve="{ 'attachment-id': @attachment.AttachmentId, 'attachment-url': '@attachment.AttachmentUrl', 'entity-id': @Model.ProjectId }"
                              dialog-controller="MirGames.Projects.GalleryItemDialogController">
                        <img src="@attachment.AttachmentUrl?size=s" />
                    </li>
                }
            </ul>
        }
        @if (Model.CanReadRepository && commits.Any())
        {
            <h4>История</h4>
            <div class="commits">
                @foreach (var commit in commits)
                {
                    <div class="commit">
                        <span class="date">@commit.Date.Format()</span>
                        <div class="text">
                            @commit.Message
                        </div>
                        <span class="user-name">@commit.Author.Login</span>
                        @*<a href="@Url.Action("Profile", "Users", new { userId = commit.Author.Id })" class="user-login avatar-link"><img src="@commit.Author.AvatarUrl" class="avatar avatar-tiny" /><span>@commit.Author.Login</span></a>*@
                    </div>
                }
            </div>
        }
    </div>
</section>