@using MirGames.Models
@model MirGames.Domain.Forum.ViewModels.ForumTopicViewModel
@{ Layout = "~/Views/Shared/_Nav.cshtml"; }

@section SectionTitle { @Model.Title }

@section SectionMenu
{
    <div class="forum-topic-menu">
        <a href="@Url.Action("Index")" class="back-to-topics"><i class="fa fa-arrow-left"></i>Вернуться к темам</a>
        @if (Model.CanBeAnswered)
        {
            <a href="@Url.Action("Topic", "Forum", new { page = ((PaginationViewModel)ViewBag.Pagination).PagesCount })#new-answer"
               ng-click="focusAnswer()" class="comment"><i class="fa fa-comment"></i>Ответить</a>
        }
        @if (Model.CanBeDeleted)
        {
            <a href="javascript:void(0);" class="delete-topic" dialog="@Url.Action("DeleteTopicDialog", "Forum")"
                   dialog-close="returnBack()" resolve="{ 'topic-id': @Model.TopicId }"
                   dialog-controller="MirGames.Forum.DeleteTopicDialogController"><i class="fa fa-times"></i>Удалить</a>
        }
        <div class="subsection">
            <a class="avatar-link author-info" href="@Url.Action("Profile", "Users", new { userId = Model.Author.Id })">
                <img src="@Model.Author.AvatarUrl" class="avatar avatar-small" />
                <span>@Model.Author.Login</span>
            </a>
        </div>
    </div>
}